
<div class="social-icons" style="margin-top: 15px;">
  <!-- GitHub -->
  <a href="https://github.com/rafael-o-cunha" target="_blank" aria-label="github" class="icon github"></a>
  
  <!-- LinkedIn -->
  <a href="https://www.linkedin.com/in/rafael-o-cunha/" target="_blank" aria-label="LinkedIn" class="icon linkedin"></a>

  <!-- Substack -->
  <a href="https://substack.com/@rafaelocunha" target="_blank" aria-label="Substack" class="icon substack"></a>

  <!-- YouTube -->
  <a href="https://www.youtube.com/@rafa-o-cunha" target="_blank" aria-label="YouTube" class="icon youtube"></a>

</div>